@use 'abstract';

body {
    min-height: 100vh;
    font-size: 1.25rem;
    font-family: abstract.$ff-alt;
    background-color: abstract.$very-light-gray;
}

.container {
    max-width: 120em;
    width: 100%;
    margin-inline: auto;
}
