@use 'abstract';

body {
    min-height: 100vh;
    font-size: 1.25rem;
    font-family: abstract.$ff-default;
    font-family: abstract.$ff-alt;
    background-color: abstract.$very-light-gray;
}

.container {
    max-width: 90em;
    width: 100%;
    margin-inline: auto;

    @media (min-width: 60em) {
        // width: 80%;
    }
}
