.top {
  position: relative;
  background: no-repeat url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 33.625rem;
  transition: all 350ms linear;
}
@media (min-width: 23em) {
  .top {
    min-height: 34rem;
  }
}
@media (min-width: 30em) {
  .top {
    min-height: 40rem;
  }
}
@media (min-width: 40em) {
  .top {
    min-height: 45rem;
  }
}
@media (min-width: 50em) {
  .top {
    background-image: url(../images/desktop/image-header.jpg);
    min-height: 50rem;
  }
}
@media (min-width: 60em) {
  .top {
    min-height: 60rem;
  }
}
.top header {
  padding-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .hero {
  margin-top: 5.875rem;
  text-align: center;
  color: white;
}
.top .hero h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.top .hero img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8.5rem;
}
@media (min-width: 23em) {
  .top .hero img {
    bottom: 10.125rem;
  }
}
@media (min-width: 30em) {
  .top .hero img {
    bottom: 14.875rem;
  }
}
@media (min-width: 40em) {
  .top .hero img {
    bottom: 15.875rem;
    min-height: 12rem;
  }
}
@media (min-width: 50em) {
  .top .hero img {
    min-height: 13rem;
  }
}
@media (min-width: 60em) {
  .top .hero img {
    bottom: 20.875rem;
    min-height: 15rem;
  }
}

.intro {
  text-align: center;
}
@media (min-width: 50em) {
  .intro {
    text-align: initial;
  }
}
.intro__content {
  margin-block: 4.4375rem 4rem;
  max-width: 40ch;
  margin-inline: auto;
}
@media (min-width: 50em) {
  .intro__content {
    margin-block: 4.4375rem 0;
  }
}
.intro__content--transform {
  grid-area: b;
}
.intro__title {
  line-height: 1.2;
  margin-bottom: 2rem;
  font-size: 2rem;
}
@media (min-width: 50em) {
  .intro__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 70em) {
  .intro__title {
    font-size: 2rem;
  }
}
.intro__text {
  font-family: "Barlow", Serif;
  color: #818498;
  font-weight: normal;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
@media (min-width: 50em) {
  .intro__text {
    font-size: 1rem;
  }
}
@media (min-width: 68em) {
  .intro__text {
    font-size: 1.125rem;
  }
}
.intro__img img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 50em) {
  .intro {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "b a" "c d";
  }
}

.services {
  text-align: center;
}
.services__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4rem;
}
.services__title {
  font-size: 1.75rem;
  margin-bottom: 2.125rem;
  text-transform: capitalize;
}
.services__title--graphic-design {
  color: #25564b;
}
.services__title--photography {
  color: #052d3d;
}
.services__text {
  font-family: "Barlow", Serif;
  font-size: 1rem;
  font-weight: normal;
  max-width: 45ch;
  margin-inline: auto;
}
.services__text--graphic-design {
  color: #25564b;
}
.services__text--photography {
  color: #19536b;
}
.services--graphic-design {
  background: no-repeat url(../images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 37.5rem;
  position: relative;
}
@media (min-width: 30em) {
  .services--graphic-design {
    min-height: 45rem;
  }
}
@media (min-width: 40em) {
  .services--graphic-design {
    min-height: 50rem;
  }
}
@media (min-width: 45em) {
  .services--graphic-design {
    background-repeat: no-repeat;
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: top center;
  }
}
.services--photography {
  background: no-repeat url(../images/mobile/image-photography.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 37.5rem;
  position: relative;
}
@media (min-width: 30em) {
  .services--photography {
    min-height: 45rem;
  }
}
@media (min-width: 40em) {
  .services--photography {
    min-height: 50rem;
  }
}
@media (min-width: 45em) {
  .services--photography {
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 45em) {
  .services {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.testimonial {
  margin-block: 4rem 5rem;
  text-align: center;
}
.testimonial__title {
  text-transform: uppercase;
  font-size: 1rem;
  color: #a7abae;
}
.testimonial__item {
  margin-top: 4rem;
}
.testimonial__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 49%;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}
.testimonial__text {
  font-family: "Barlow", Serif;
  color: #19536b;
  font-size: 1.125rem;
  font-weight: normal;
  max-width: 40ch;
  margin-inline: auto;
}
@media (min-width: 50em) {
  .testimonial__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.875rem;
  }
}

.user {
  margin-top: 2.5rem;
}
.user__name {
  color: #23303e;
}
.user__position {
  font-size: 0.875rem;
  color: #a7abae;
}

.gallery {
  margin-top: 5.375rem;
  display: grid;
  grid-template-areas: "a b" "c d";
}
.gallery img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 50em) {
  .gallery {
    grid-template-areas: "a b c d";
  }
}

.footer {
  padding-block: 4rem 5rem;
  background-color: #91d4c7;
}
.footer img {
  margin-inline: auto;
  margin-bottom: 2.8125rem;
}
.footer a, .footer i {
  text-decoration: none;
  color: #458c7e;
  font-size: 1.125rem;
  font-family: "Barlow", Serif;
}
.footer__links ul {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  padding-bottom: 5.8125rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.75rem;
  padding: 0;
  color: #25564b;
}
.footer__social span {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
}
.footer__social span:hover {
  opacity: 0.7;
}

.btn-link {
  font-size: 15px;
  padding-inline: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  font-weight: 900;
  position: relative;
}
.btn-link::after {
  content: "";
  position: absolute;
  height: 10px;
  background-color: black;
  bottom: -0.1rem;
  opacity: 0.25;
  border-radius: 99em;
  left: 0;
  right: 0;
}
.btn-link--yellow::after {
  background-color: #fad400;
}
.btn-link--pink::after {
  background-color: #fe7867;
}

/*----------------------------
RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ul,
ol,
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  font-size: 1.25rem;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

.container {
  max-width: 90em;
  width: 100%;
  margin-inline: auto;
}
@media (min-width: 60em) {
  .container {
    width: 80%;
  }
}

a:hover {
  opacity: 0.7;
}