@import "reset";

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$ff-default: 'Barlow', sans-serif;
$ff-alt: 'Fraunces', serif;

body {
    min-height: 100vh;
    font-family: $ff-default;
    font-family: $ff-alt;
    font-size: 1.25rem;
}

.container {
    max-width: 120em;
    width: 90%;
    margin-inline: auto;
}

.top {
    background: no-repeat url(../images/mobile/image-header.jpg);
    background-size: cover;
    min-height: 33.625rem;

    header {
        padding-top: 1.875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero {
        margin-top: 5.875rem;
        text-align: center;
        color: white;
        h1 {
            font-size: 2.5rem;
            text-transform: uppercase;
        }

        img {
            margin-top: 1.5rem;
            margin-inline: auto;
        }
    }
}

.intro {
    text-align: center;
    &__content {
        margin-block: 4.4375rem;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    &__text {
        font-family: "Barlow", Serif;
        color: #808397;
        font-size: 1.125rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }
}

.stand-out {
    text-align: center;
    &__content {
        margin-block: 4.4375rem;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    &__text {
        font-family: "Barlow", Serif;
        color: #808397;
        font-size: 1.125rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }
}

.graphic-design {
    background: no-repeat url(../images/mobile/image-graphic-design.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    text-align: center;

    &__content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4rem;
    }

    &__title {
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }

    &__text {
        font-family: "Barlow", Serif;
        color: #24554A;
        font-size: 1rem;
        font-weight: normal;
    }
}

.photography {
    background: no-repeat url(../images/mobile/image-photography.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    text-align: center;

    &__content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4rem;
    }

    &__title {
        font-size: 1.75rem;
        margin-bottom: 2rem;
        color: #19536C;
        text-transform: capitalize;
    }

    &__text {
        font-family: "Barlow", Serif;
        color: #19536C;
        font-size: 1rem;
        font-weight: normal;
    }
}

.testimonials {
    margin-top: 4rem;
    text-align: center;

    &__title {
        text-transform: uppercase;
        font-size: 1rem;
        color: #A7AAAD;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-top: 4rem;
        }
    }

    img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-inline: auto;
        margin-bottom: 2.5rem;
    }

    p {
        font-family: "Barlow", Serif;
        color: #5B636D;
        font-size: 1.125rem;
        font-weight: normal;
    }

    .person {
        margin-top: 2.5rem;
        &__position {
            font-size: 0.875rem;
            color: #A7AAAD;
        }
    }
}

.gallery {
    margin-top: 5.375rem;
    display: grid;
    grid-template-areas: "a b"
                          "c d";
}

.footer {
    padding-block: 4rem;
    background-color: #90D4C6;

    img {
        margin-inline: auto;
        margin-bottom: 2.8125rem;
    }

    ul {
        list-style: none;
    }

    a, i {
        text-decoration: none;
        color: #458D7E;
        font-size: 1.125rem;
        font-family: "Barlow", Serif;
    }

    &__links ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 5.8125rem;
    }

    &__social {
        display: flex;
        justify-content: center;
        column-gap: 1.75rem;
        padding: 0;
        color: #2C7566;

        span {
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}

.btn-link {
    font-size: 15px;
    padding-inline: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #24303E;
    font-weight: 900;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 10px;
        background-color: black;
        bottom: -0.1rem;
        opacity: 0.25;
        border-radius: 99em;
        left: 0;
        right: 0;
    }

  &--yellow::after {
    background-color: #FAD400;
  }

  &--pink::after {
    background-color: #FE7766;
  }
}

