/*----------------------------
RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ul,
ol,
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  font-size: 1.25rem;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  background-color: #fffcfa;
}

.container {
  max-width: 90em;
  width: 100%;
  margin-inline: auto;
}
.top {
  position: relative;
  background: no-repeat url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 33.625rem;
  transition: all 350ms linear;
}
@media (min-width: 23em) {
  .top {
    min-height: 34rem;
  }
}
@media (min-width: 30em) {
  .top {
    min-height: 40rem;
  }
}
@media (min-width: 40em) {
  .top {
    min-height: 45rem;
  }
}
@media (min-width: 50em) {
  .top {
    background-image: url(../images/desktop/image-header.jpg);
    min-height: 50rem;
  }
}
@media (min-width: 60em) {
  .top {
    min-height: 60rem;
  }
}
.top header {
  width: 80%;
  margin-inline: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 50em) {
  .top header {
    padding-top: 2.8125rem;
  }
}
.top .hero {
  margin-top: 6rem;
  text-align: center;
  color: white;
}
@media (min-width: 50em) {
  .top .hero {
    margin-top: 8.375rem;
  }
}
.top .hero__title {
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
}
.top .hero img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8.5rem;
}
@media (min-width: 23em) {
  .top .hero img {
    bottom: 10.125rem;
  }
}
@media (min-width: 30em) {
  .top .hero img {
    bottom: 14.875rem;
  }
}
@media (min-width: 40em) {
  .top .hero img {
    bottom: 15.875rem;
    min-height: 12rem;
  }
}
@media (min-width: 50em) {
  .top .hero img {
    min-height: 13rem;
  }
}
@media (min-width: 60em) {
  .top .hero img {
    bottom: 20.875rem;
    min-height: 15rem;
  }
}

.intro {
  text-align: center;
  transition: all 350ms linear;
}
@media (min-width: 50em) {
  .intro {
    text-align: initial;
  }
}
.intro__content {
  margin-block: 4.5rem 4rem;
  margin-inline: auto;
  max-width: 45ch;
  padding-inline: 1.5rem;
}
@media (min-width: 50em) {
  .intro__content {
    margin-block: 0;
    padding-inline: 2.5rem;
  }
}
.intro__content--transform {
  grid-area: b;
}
.intro__title {
  line-height: 1.2;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #23303e;
}
@media (min-width: 50em) {
  .intro__title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}
.intro__text {
  font-family: "Barlow", Serif;
  color: #818498;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
.intro__img {
  width: 100%;
  height: 19.5rem;
  object-fit: cover;
}
@media (min-width: 50em) {
  .intro__img {
    height: 37.5rem;
  }
}
.intro__cta {
  color: #23303e;
}
@media (min-width: 50em) {
  .intro {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "b a" "c d";
  }
}

.services {
  text-align: center;
  transition: all 350ms linear;
  position: relative;
}
.services__content {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 12.4375rem);
}
.services__title {
  font-size: 1.75rem;
  margin-bottom: 2.25rem;
  text-transform: capitalize;
}
.services__title--graphic-design {
  color: #25564b;
}
.services__title--photography {
  color: #052d3d;
}
.services__text {
  font-family: "Barlow", Serif;
  font-size: 1rem;
  padding-inline: 1.2rem;
  max-width: 45ch;
  margin-inline: auto;
}
.services__text--graphic-design {
  color: #25564b;
}
.services__text--photography {
  color: #19536b;
}
.services--graphic-design, .services--photography {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  min-height: 37.5rem;
}
.services--graphic-design {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}
@media (min-width: 45em) {
  .services--graphic-design {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
}
.services--photography {
  background-image: url(../images/mobile/image-photography.jpg);
}
@media (min-width: 45em) {
  .services--photography {
    background-image: url(../images/desktop/image-photography.jpg);
  }
}
@media (min-width: 40em) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.testimonial {
  margin-block: 4.9375rem 5.375rem;
  text-align: center;
}
.testimonial__title {
  text-transform: uppercase;
  font-size: 1rem;
  color: #a7abae;
}
.testimonial__item {
  margin: 4rem 0;
}
.testimonial__img {
  height: 3.5rem;
  border-radius: 50%;
  margin-inline: auto;
  margin-bottom: 2.5625rem;
}
.testimonial__text {
  font-family: "Barlow", Serif;
  color: #5a636c;
  font-size: 1.125rem;
  font-weight: normal;
  padding-inline: 1.5rem;
  margin-bottom: 2.5625rem;
  margin-inline: auto;
  max-width: 40ch;
}
@media (min-width: 50em) {
  .testimonial__text {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 50em) {
  .testimonial__items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2.5rem;
  }
}

.user__name {
  color: #23303e;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
}
.user__position {
  font-family: "Barlow", sans-serif;
  font-size: 0.875rem;
  color: #a7abae;
}

.gallery {
  margin-top: 5.375rem;
  display: grid;
  grid-template-areas: "a b" "c d";
}
.gallery img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 50em) {
  .gallery {
    grid-template-areas: "a b c d";
  }
}

.footer {
  padding-block: 4rem;
  background-color: #91d4c7;
}
.footer img {
  margin-inline: auto;
  margin-bottom: 2.5625rem;
}
.footer .footer-nav {
  margin-bottom: 5.5rem;
}
.footer .footer-nav__items {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}
.footer .footer-nav__link {
  color: #458c7e;
  text-decoration: 1px underline dotted;
  outline: none;
  font-size: 1.125rem;
  font-family: "Barlow", Serif;
  transition: all 200ms linear;
}
.footer .footer-nav__link:hover, .footer .footer-nav__link:focus {
  color: white;
}
.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.75rem;
  color: #25564b;
}
.footer__social a {
  text-decoration: none;
  outline: none;
  width: 1.25rem;
  cursor: pointer;
  transition: all 200ms linear;
  color: #458c7e;
}
.footer__social a:hover, .footer__social a:focus {
  color: white;
}

.btn-link {
  font-size: 0.9375rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: inherit;
  padding-inline: 0.5rem;
  position: relative;
  outline: none;
  transition: all 200ms linear;
}
.btn-link::after {
  content: "";
  position: absolute;
  height: 10px;
  bottom: -0.1rem;
  opacity: 0.25;
  z-index: -1;
  border-radius: 99em;
  left: 0;
  right: 0;
  transition: all 200ms linear;
}
.btn-link:hover::after, .btn-link:focus::after {
  opacity: 0.5;
}
.btn-link--yellow::after {
  background-color: #fad400;
}
.btn-link--pink::after {
  background-color: #fe7867;
}

.hamburger {
  cursor: pointer;
}
@media (max-width: 45em) {
  .hamburger {
    display: block;
  }
}

input {
  display: none;
}

@media (max-width: 45em) {
  .nav {
    width: 80%;
    margin-inline: auto;
    background-color: white;
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: top 200ms ease-in-out;
  }
  .nav::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    right: 0;
    border-left: 3rem solid transparent;
    border-bottom: 3rem solid white;
  }
  .nav__link {
    text-decoration: none;
    color: #818498;
    font-family: "Barlow", sans-serif;
    display: block;
    margin: 2.125rem 0;
  }
  .nav__item {
    text-align: center;
  }
  .nav__button a {
    background-color: #fad400;
    color: #052d3d;
    font-weight: normal;
    padding: 0.8em 1.5em;
    width: max-content;
    border-radius: 99em;
    margin-inline: auto;
    font-family: "Fraunces", serif;
  }
}

#toggle:checked ~ .nav {
  opacity: 1;
  z-index: 1;
  top: 20%;
}

#toggle:checked + label .hamburger {
  opacity: 0.6;
}

@media (min-width: 45em) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 45em) {
  .nav {
    all: unset;
    font-size: 1.125rem;
    font-family: "Barlow", sans-serif;
  }
  .nav__items {
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    text-decoration: none;
    outline: none;
    color: white;
    position: relative;
  }
  .nav__link::after {
    content: "";
    background-color: currentColor;
    position: absolute;
    bottom: -2px;
    left: 100%;
    right: 100%;
    height: 1.5px;
    transition: all 250ms linear;
  }
  .nav__link:not(.btn-link):hover::after, .nav__link:not(.btn-link):focus::after, .nav__link:not(.btn-link):hover, .nav__link:not(.btn-link):focus {
    left: 0;
    right: 0;
    opacity: 0.8;
  }
  .nav__button a {
    background-color: white;
    color: #23303e;
    font-weight: normal;
    padding: 1.13em 2em;
    width: max-content;
    border-radius: 99em;
    margin-inline: auto;
    font-family: "Fraunces", serif;
  }
  .nav__button a:hover, .nav__button a:focus {
    background-color: #78CEF5;
    color: white;
  }
}