@use 'abstract';

.footer {
    padding-block: 4rem 5rem;
    background-color: abstract.$moderate-cyan;

    @media (min-width: 50em) {
        padding-block: 4.5rem;
    }

    img {
        margin-inline: auto;
        margin-bottom: 2.5625rem;
    }

    .footer-nav {
        margin-bottom: 5.5rem;
        &__items {
            display: flex;
            justify-content: center;
            column-gap: 3rem;
        }

        &__link {
            color: abstract.$dark-moderate-cyan;
            text-decoration: 1px underline dotted;
            outline: none;
            font-size: 1.125rem;
            font-family: "Barlow", Serif;
            transition: all 200ms linear;

            &:hover, &:focus {
                color: abstract.$white;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        column-gap: 1.75rem;
        color: abstract.$dark-desaturated-cyan;

        a {
            text-decoration: none;
            outline: none;
            width: 1.25rem;
            cursor: pointer;
            transition: all 200ms linear;
            color: abstract.$dark-moderate-cyan;

            &:hover, &:focus {
                color: abstract.$white;
            }
        }
    }
}
