.gallery {
    margin-top: 5.375rem;
    display: grid;
    grid-template-areas: "a b"
                          "c d";

    img {
        width: 100%;
        height: 11.75rem;
        object-fit: cover;
        @media (min-width: 50em) {
            height: 27.9375rem;
        }
    }
    @media (min-width: 50em) {
       grid-template-areas: "a b c d";
    }
}
