@use 'abstract';

.top {
    position: relative;
    background: no-repeat url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: bottom center;
    min-height: 33.625rem;

    transition: all 350ms linear;

    @media (min-width: 23em) {
        min-height: 34rem;
    }

    @media (min-width: 30em) {
        min-height: 40rem;
    }

    @media (min-width: 40em) {
        min-height: 45rem;
    }

    @media (min-width: 50em) {
        background-image: url(../images/desktop/image-header.jpg);
        min-height: 50rem;
    }

    @media (min-width: 60em) {
        min-height: 60rem;
    }

    header {
        padding-top: 1.875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero {
        margin-top: 5.875rem;
        text-align: center;
        color: abstract.$white;
        h1 {
            font-size: 2.5rem;
            text-transform: uppercase;
        }

        img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 8.5rem;
            @media (min-width: 23em) {
                bottom: 10.125rem;
            }

            @media (min-width: 30em) {
                bottom: 14.875rem;
            }

            @media (min-width: 40em) {
                bottom: 15.875rem;
                min-height: 12rem;
            }

            @media (min-width: 50em) {
                min-height: 13rem;
            }

            @media (min-width: 60em) {
                bottom: 20.875rem;
                min-height: 15rem;
            }
        }
    }
}
