@use 'abstract';

.hamburger {
  cursor: pointer;
  @media (max-width: 45em) {
    display: block;
  }
}

input {
  display: none;
}

.nav {
  @media (max-width: 45em) {
    width: 80%;
    margin-inline: auto;
    background-color: abstract.$white;
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: top 200ms ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: -1.5rem;
      right: 0;
      border-left: 3rem solid transparent;
      border-bottom: 3rem solid abstract.$white;
    }

    &__link {
      text-decoration: none;
      text-transform: capitalize;
      color: abstract.$dark-grayish-blue;
      font-family: abstract.$ff-default;

      display: block;
      margin: 2.125rem 0;
    }

    &__item {
      text-align: center;
      .link-button {
        background-color: abstract.$yellow;
        color: abstract.$dark-blue;
      }
    }
  }
}

.link-button {
    text-transform: uppercase;
    font-family: abstract.$ff-alt;
    border-radius: 99em;
    padding: 0.8em 1.5em;
    width: max-content;
    margin-inline: auto;
    font-weight: bold;
}

#toggle:checked ~ .nav {
  opacity: 1;
  z-index: 1;
  top: 20%;
}

#toggle:checked + label .hamburger {
  opacity: 0.6;
}
