@use 'abstract';

.testimonial {
    margin-block: 4.9375rem 5.375rem;
    text-align: center;

    &__title {
        text-transform: uppercase;
        font-size: 1rem;
        color: abstract.$grayish-blue;
    }

    &__item {
        margin-block: 4rem;
    }

    &__img {
        height: 4.5rem;
        border-radius: 50%;
        margin-inline: auto;
        margin-bottom: 2.5625rem;
    }

    &__text {
        font-family: abstract.$ff-default;
        color: abstract.$very-dark-grayish-blue;
        font-size: 1.125rem;
        font-weight: normal;

        padding-inline: 1.5rem;
        margin-bottom: 2.5625rem;
        margin-inline: auto;

        max-width: 40ch;
        @media (min-width: 50em) {
            padding-inline: 2.5rem;
        }
    }

    &__items {
        @media (min-width: 50em) {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 2.5rem;
        }
    }
}

.user {
    &__name {
        color: abstract.$very-dark-desaturated-blue;
        padding-bottom: 0.5rem;
        font-size: 1.125rem;
    }

    &__position {
        font-family: abstract.$ff-default;
        font-size: 0.875rem;
        color: abstract.$grayish-blue;
    }
}
